*{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}
body{
    max-width: 1200px;
    margin: 0 auto;
}
/* ========== menu =========== */
.nav{
    height: 100%;
    width: 250px;
    overflow: auto; 
    position: fixed;  
    z-index: 100;
    box-sizing: border-box;
}
.menu{
    background-color: #fff;
    padding: 60px 0;
}
.nav h2{
    font-size: 24px;
    padding: 20px 15px;
}
.menu a{
    color: #757575!important;
    font-size: 18px!important;
}
.jeans-list{
    padding-top: 0;
    padding-left: 30px;
    display: none;
}
.jeans-list a,i{
    font-size: 15px!important;
}
.nav a{
    text-decoration: none;
    color: #000;
    padding: 8px 15px;
    display: block;
    font-size: 15px;
}
.nav a:hover{
    background-color: #ccc;
    color: black!important;
}
/* ========= newsletter ========== */
#newsletter{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.404);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 100000;
    animation: zoomOut 0.3s;   
}
.newsletter-main{
    width: 900px;
    background-color: #fff;
    text-align: center;
    padding: 30px;
    margin: 20px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,0);
}
.newsletter-main h1{
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: normal;
    position: relative;
    margin-bottom: 15px;
}
.newsletter-main i{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
}
.newsletter-main form{
    display: flex;
    flex-direction: column;
}
.newsletter-main input{
    padding: 8px ;
    margin: 15px 0; 
    border: 1px solid rgba(122, 122, 122, 0.5);
}
.newsletter-main button{
    padding: 12px 24px;
    border: none;
    background-color:#f44336;
    color: white;
}
/* ============= container =========== */
.container{
    margin-left: 250px;
    padding: 15px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h3,i{
    font-size: 24px;
    font-weight: normal;
}
.header-icon i{
    padding: 0 8px;
}
/* ============ background ============ */
.background{
    position: relative;
    margin: 20px 0;
}
.background img{
    width: 100%;
}
.background-content{
    position: absolute;
    top: 0;
    padding: 50px;
    color: white;
}
.background-content h1{
    font-size: 64px;
    letter-spacing: 4px;
}
.background-content p{
    font-size: 36px;
    margin: 10px 0;
}
.background-content a{
    color: white;
    background-color: #000;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 18px;
    margin: 10px 0;
}
/* ============= list jeans ============ */
.list-jeans{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
}
.list-jeans-item{
    margin-bottom: 15px;
    flex-basis: 24%;
    filter: grayscale(70%);
}
.list-jeans-item img{
    width: 100%;
}
.special-jeans-item{
    position: relative;
}
.special-jeans-item span{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    padding: 2px 8px;
    color: white;
}
.special-jeans-item button{
    background-color: #000;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: none;
    font-size: 15px;
    padding: 10px;
    display: none;
}
.special-jeans-item i{
    font-size: 15px;
}
.special-jeans-item:hover button{
    display: block;
}
.special-jeans-item button:hover{
    background-color: #ccc;
    color: #000;
}
/* ============== subscrise ================= */
#subscrise{
    background-color: #000;
    color: white;
    padding: 30px 10px;
}
#subscrise h1{
    font-size: 36px;
    font-weight: normal;
}
#subscrise p{
    padding: 10px 0;
}
#subscrise form{
    display: flex;
}
#subscrise input{
    flex:1;
    border: none;
    padding: 10px;
    margin: 10px 0;
}
#subscrise button{
    border: none;
    background-color: #f44336;
    color: white;
    margin: 10px 0;
    padding: 10px 15px;
}
/* ========== contact ============= */
#contact{
    display: flex;
    width: 100%;
    font-size: 12px;
    padding: 50px 0;
    background-color: #f1f1f1;
}
#contact p,a{
    font-size: 12px;
}
#contact h3{
    font-size: 20px;
    font-weight: normal;
}

/* --------- contact ---------- */
.contact{
    text-align: center;
    flex-basis: 33%;
    font-size: 12px!important;
}
.contact form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.contact input{
    padding: 5px;
    margin: 6px 0;
    border: 1px solid rgba(0, 0, 0, 0.315);
    font-size: 12px;
}
.contact form input:last-child{
    background-color: #000;
    color: white;
    border: none;
}
.contact form input:last-child:hover{
    background-color: #ccc;
    color: black!important;
}
/* ----------- about ----------- */
.about{
    text-align: center;
    flex-basis: 33%;
}
.about a{
    color: #000;
    display: block;
    margin: 10px 0;
}
/* -------- store ----------- */
.store>p>i{
    padding-right: 10px;
    font-size: 12px!important;
}
.store p{
    margin: 10px 0;
}
.store i{
    font-size: 18px;
}
/* ========== footer ========== */
.footer{
    margin-left: 250px;
    /* width: 100%; */
    background-color: #000;
    color: white!important;
    text-align: center;
    padding: 40px 0;
}
.footer a{
    color: white;
    font-size: 15px;
}
.show{
    display: block!important;
}
@keyframes zoomOut{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}