html,body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.header{
    width: 100%;
    flex-direction: row;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
    font-size: 14px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.header-main{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6)
}
.header img{
    width: 88.38px;
    height: 50px;
    padding: 15px;
}
.left{
    display: flex;
}
.menu{
    display: flex;
}
.menu>div{
    margin-top: 30px;
    padding: 0 15px;
    text-align: center;
    /* line-height: 60px */
    position: relative;
}
.menu>div:hover{
    color: black;
    text-decoration: underline;
}
.menu>div:first-child{
    color: black;
}
.dropdown{
    text-align: left;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    border-top: 3px solid #ED1C24;
    box-shadow: 0px 0px 3px  rgba(0, 0, 0, 0.6);
    display: none;
}
.dropdown>a{
    padding: 15px;
    padding-bottom: 0;
    background-color: white;
    display: block;
    color: black;
    text-decoration: none;
}
.dropdown>a:last-child{
    padding-bottom: 15px;
}
.menu>div:hover .dropdown{
    display: block!important;
}
.right{
    display: flex;
}
.main-text{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 18px;
    margin-right: 8px;
}
.main-text>p>span{
    color: red;
}
.main-text>span{
    padding: 5px;
    background: #ED1C24;
    border-radius: 5px;
    width: 30px;
    color: #FFFFFF;
    text-align: center;
    font-weight: 600;
}
.main-text>p{
    margin: 0;
    color: black;
}
.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #C4C4C4;
    margin-top: 10px;
}
/* desktop -1 */
.desktop-1{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 500px;
}
h2{
    margin-top: 200px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 34px;
    text-align: center;
}
.desktop-1>p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #747474;
    margin-bottom: 100px;
}
.banggia{
    display: flex;
    justify-content: center;
}
.banggia-item{
    width: 200px;
    height: 328px;
    border: 1px solid #DFDFDF;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 5px;
}
.banggia-hot-item{
    width: 200px;
    height: 328px;
    margin-right: 10px;
    position: relative;
    /* margin: 5px; */
}
.banggia-hot-item>.banggia-item{
    position: absolute;
    left: 0;
    bottom: 25px;
    border: 2px solid #134897;
}
.banggia-hot-item>.banggia-item>button{
    background-color: #134897;
    color: #FFFFFF; 
}
.banggia-hot-item>.banggia-item:before{
    content: "HOT";
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%,-50%);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #FF6914;
    border-radius: 50%;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
}
.banggia-item:hover{
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.61);
}
.banggia>.banggia-item:first-child h4{
    color: #118A42;
}
h3{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    margin-top: 35px;
}
h4{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #134897;
}
.banggia-content{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    margin-top: 45px;
    margin-bottom: 45px;
}
.banggia-content span{
    color: red;
}
button{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    width: 120px;
    height: 40px;
    color: #134897;
    border-radius: 100px;
    background: #EAEAEA;
    display: block;
    text-align: center;
    border: none;
    margin: 0 auto;
}
.desktop-2{
    width: 80%;
    margin: 0 auto;
}
.banner{
    width: 800px;
    height: 120px;
    background: #DDDDDD;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 34px;
    color: #000000;
    margin: 0 auto;
    margin-top: 160px;
    text-align: center;
    line-height: 120px;
}
.video{
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 500px;
    height: 280px;
    background: #DDDDDD;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 34px;
    color: #000000;
    text-align: center;
    line-height: 280px;
}
.desktop-2>p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}
.desktop-2>p>span{
    color: red;
}
.desktop-2>button{
    background: rgba(240, 174, 5, 0.5);
    border-radius: 100px;
    width: 200px;
    height: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 100px;
}
.title-qc{
    width: 70%;
    text-align: center;
    margin: 0 auto;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color:black;
}
.banner2{
    width: 800px;
    height: 120px;
    background: #DDDDDD;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 34px;
    color: #000000;
    margin: 0 auto;
    margin-top: 14px;
    text-align: center;
    line-height: 120px;
}
.footer{
    width: 100%;
    background: #F5F5F5;
}
.footer-main{
    width: 90%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
}
.footer img{
    width: 88.38px;
    height: 50px;
    padding: 15px;
    padding-left: 0;
}
.footer-main>*{
    flex: 1;
}
.colum1{
    display: flex;
    flex-direction: column;
}
.colum1>a{
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}
.colum1>a:hover{
    text-decoration: underline;
}
.colum1>button{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    background: #E9E9E9;
    border-radius: 10px;
    border: none;
    margin-left: 0;
    margin-top: 25px;
}
.colum2,.colum3{
    margin-top: 25px;
}
.colum2>a{
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    padding-bottom: 8px;
}
.colum2>a:first-child{
    color: #000000!important;
}
.colum2>a{
    color: rgba(0, 0, 0, 0.6);
}
.colum2>a:hover{
    text-decoration: underline;
    color: black;
}
.colum3>.downapp{
    display: flex;
    justify-content: space-between;
}
.downapp>*{
    flex-basis: 50%;
}
.colum3>p{
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}
.downapp img{
    width: 100%;
    height: unset;
}
.icon i{
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    color: #000000;
}